.informacao_evento {
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 1200px;
  width: 406px;
  height: 520px;
  left: calc(50% - 406px / 2 + 450px);
  top: 105px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.layout {
  margin-left: 200px;
  margin-top: -500px;
}

.titulo_evento {
  box-sizing: border-box;
  width: 406px;
  height: 83px;
  left: calc(50% - 406px / 2 + 450px);
  top: 105px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

#comprar { 
    height: 50px;
    margin-top: 250px;
    background: rgba(100, 33, 242, 0.9);
    color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(10, 10, 10, 0.25);
    border-radius: 8px;
}

.descricao_evento {
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 170px;
  width: 1304px;
  height: 136px;
  left: calc(50% - 1304px / 2 + 1px);
  top: 644px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.header_evento {
  box-sizing: border-box;
  width: 1304px;
  height: 53px;
  left: calc(50% - 1304px / 2 + 1px);
  top: 643px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.descricao_evento h1 {
  font-style: normal;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

.titulo_evento h2 {
  font-style: normal;
  font-size: 30px;
  margin-left: 10px;
  line-height: 75px;
  color: #ffffff;
}

@media (max-width: 576px) { 

  *{
      height: auto;
      width: auto;
  }

}


@media (min-width: 768px) { 

  *{
      height: auto;
      width: auto;
  }

}


@media (min-width: 992px) { 
  *{
      height: auto;
      width: auto;
  } }


@media (min-width: 1200px) { 
  *{
      height: auto;
      width: auto;
  } }